<mat-toolbar color="primary">
  <button (click)="isExpanded = !isExpanded" mat-stroked-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Tattoo Manager</h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sidenav
    class="main-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
  >
    <mat-nav-list *ngFor="let sideNavOption of sideNavOptionList">
      <a routerLink="{{ sideNavOption.componentPath }}">
        <mat-list-item
          [ngClass]="{ 'highlighted-option': sideNavOption.highlight }"
        >
          <mat-icon mat-list-icon>{{ sideNavOption.icon }}</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">{{
            sideNavOption.text
          }}</span>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
