<mat-form-field>
  <mat-label>Nome do cliente</mat-label>
  <input
    matInput
    type="text"
    id="searchBar"
    name="searchBar"
    required
    [(ngModel)]="searchTerm"
  />
</mat-form-field>
<div *ngFor="let anamnese of anamneses">
  <div
    *ngIf="searchTerm && anamnese.contactInfo.completeName.includes(searchTerm)"
  >
    <button
      (click)="downloadPdf(anamnese)"
      mat-stroked-button
      color="primary"
      class="download-button"
    >
      <mat-icon>download</mat-icon>
    </button>
    {{ anamnese.contactInfo.completeName }}
  </div>
</div>
<iframe
  title="anamnese-pdf"
  id="iframe"
  width="100%"
  height="900"
  [src]="iframeSrc | safe"
></iframe>
