<div class="new-anamnese-container">
  <h2>Bem vindo!</h2>
  <ng-form>
    <!--    COMPLETE NAME-->
    <section>
      <mat-form-field>
        <mat-label>Nome Completo</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="completeName"
          name="completeName"
          [(ngModel)]="anamnese.contactInfo.completeName"
          required
        />
      </mat-form-field>
    </section>
    <!--    CPF-->
    <section>
      <mat-form-field>
        <mat-label>cpf</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="cpf"
          name="cpf"
          [(ngModel)]="anamnese.contactInfo.cpf"
          required
        />
      </mat-form-field>
    </section>
    <!--    RG-->
    <section>
      <mat-form-field>
        <mat-label>RG</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="rg"
          name="rg"
          [(ngModel)]="anamnese.contactInfo.rg"
          required
        />
      </mat-form-field>
    </section>
    <!--    BIRTH DATE-->
    <section>
      <mat-form-field>
        <mat-label>Data de Nascimento</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="dateBirth"
          name="dateBirth"
          [(ngModel)]="anamnese.contactInfo.birthDate"
          required
        />
      </mat-form-field>
    </section>
    <!--    CEP-->
    <section>
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="cep"
          name="cep"
          [(ngModel)]="anamnese.contactInfo.cep"
          required
        />
      </mat-form-field>
    </section>
    <!--phone text,-->
    <section>
      <mat-form-field>
        <mat-label>Telefone de contato</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="(51) 99999-9999"
          [(ngModel)]="anamnese.contactInfo.phone"
          required
        />
      </mat-form-field>
    </section>
    <!--email text-->
    <section>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="mail"
          name="mail"
          [(ngModel)]="anamnese.contactInfo.email"
          required
        />
      </mat-form-field>
    </section>
    <!--diac_problem bool,    &#45;&#45; Problema cardíaco ou epilepsia-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="cardiacProblem"
        [(ngModel)]="anamnese.clinicalInfo.cardiacProblem"
        >Problema cardíaco ou epilepsia</mat-checkbox
      >
    </section>
    <!--easy_blooding bool,      &#45;&#45; Hemofilia, hemorragia, ou sangra facilmente-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="easyBlooding"
        [(ngModel)]="anamnese.clinicalInfo.easyBlooding"
        >Hemofilia, hemorragia, ou sangra facilmente</mat-checkbox
      >
    </section>
    <!--immunologic_system bool, &#45;&#45; Alteração do sistema imunológico-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="immunologicSystem"
        [(ngModel)]="anamnese.clinicalInfo.immunologicSystem"
        >Alteração do sistema imunológico</mat-checkbox
      >
    </section>
    <!--diabetes bool,           &#45;&#45; Diabetes-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="diabetes"
        [(ngModel)]="anamnese.clinicalInfo.diabetes"
        >Diabetes</mat-checkbox
      >
    </section>
    <!--dst bool,                &#45;&#45; Hepatite ou DST-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="dst"
        [(ngModel)]="anamnese.clinicalInfo.dst"
        >Hepatite ou DST</mat-checkbox
      >
    </section>
    <!--pregnant bool,           &#45;&#45; Grávida ou amamentando-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="pregnant"
        [(ngModel)]="anamnese.clinicalInfo.pregnant"
        >Grávida ou amamentando</mat-checkbox
      >
    </section>
    <!--high_pressure bool,      &#45;&#45; Pressão alta-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="highPressure"
        [(ngModel)]="anamnese.clinicalInfo.highPressure"
        >Pressão alta</mat-checkbox
      >
    </section>
    <!--faint_frequently bool,   &#45;&#45; Desmaios e quedas de pressão frequentes-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="faintFrequently"
        [(ngModel)]="anamnese.clinicalInfo.faintFrequently"
        >Desmaios e quedas de pressão frequentes</mat-checkbox
      >
    </section>
    <!--allergy bool             &#45;&#45; Alergia a algum material?-->
    <section class="checkbox-section">
      <mat-checkbox
        color="primary"
        name="allergy"
        [(ngModel)]="anamnese.clinicalInfo.allergy"
        >Alergia a algum material?</mat-checkbox
      >
    </section>
  </ng-form>
  <button mat-raised-button color="primary" (click)="generateAnamnese()">
    Gerar anamnese
  </button>
</div>
