<mat-card
  *ngIf="budget"
  [ngClass]="{ 'new-budget-request': budget.isNew }"
  class="budget-card"
>
  <mat-card-title class="budget-card-title"
    ><p *ngIf="budget.isNew" class="new-label">NOVO</p>
    {{ budget.clientName }}</mat-card-title
  >
  <mat-card-content>
    <p>Parte do corpo: {{ budget.bodyPart }}</p>
    <p>Tamanho: {{ budget.sizeInCm }}</p>
    <p>Telefone de contato: {{ budget.phone }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      color="primary"
      (click)="setAsNotNew()"
      [disabled]="!budget.isNew"
    >
      Marcar como lida
    </button>
  </mat-card-actions>
</mat-card>
