<h2>Novo lançamento financeiro</h2>
<ng-form>
  <section>
    <button mat-button [matMenuTriggerFor]="typeMenu">
      {{ typeSelected ? typeSelected : "Tipo de lançamento" }}
    </button>
    <mat-menu #typeMenu="matMenu" yPosition="below">
      <button
        mat-menu-item
        *ngFor="let releaseType of releaseTypes"
        (click)="changeType(releaseType)"
      >
        {{ releaseType }}
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="groupMenu">
      {{ groupSelected ? groupSelected : "Grupo" }}
    </button>
    <mat-menu #groupMenu="matMenu" yPosition="below">
      <button
        mat-menu-item
        *ngFor="let releaseGroup of releaseGroups"
        (click)="changeGroup(releaseGroup)"
      >
        {{ releaseGroup }}
      </button>
    </mat-menu>
  </section>
  <section>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input
        matInput
        type="text"
        id="description"
        name="description"
        required
        [(ngModel)]="description"
      />
    </mat-form-field>
  </section>
  <section>
    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input
        matInput
        type="number"
        id="value"
        name="value"
        required
        [(ngModel)]="value"
      />
    </mat-form-field>
  </section>
  <button mat-button color="warn" (click)="closeDialog()">Cancelar</button>
  <button mat-button color="primary" (click)="saveFinanceRelease()">
    Salvar
  </button>
</ng-form>
