<div class="container">
  <h2>Bem-Vindo!</h2>
  <form (ngSubmit)="onSubmit()">
    <!--    USER FIELD    -->
    <mat-form-field>
      <mat-label> Usuário </mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        [(ngModel)]="userLogin.username"
      />
    </mat-form-field>
    <!--    PASSWORD FIELD    -->
    <mat-form-field>
      <mat-label> Password </mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        matInput
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        [(ngModel)]="userLogin.password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <!--    SUBMIT BUTTON    -->
    <button mat-flat-button color="primary">Submit</button>
  </form>
</div>
